.contact-info .section-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: none;

    .section-header-col {
        max-width: 800px;
    }
}

.contact-grid {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    svg {
        fill: var(--contrast);
    }
}

.contact-form {
    width: 100%;
    background: var(--hover-btn-bg);
    border: 1px solid var(--bd-primary);
    padding: 30px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-color);
}

.form-header {
    margin-bottom: 30px;

    h2 {
        font-size: clamp(2.6rem, 7vw, 2.2rem);
        margin-bottom: 10px;
        color: var(--contrast);
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30PX;
}

.form-grid label {
    display: block;
    margin-bottom: 10px;
}

.form-grid label::after {
    content: "*";
    margin-left: 2px;
    color: var(--danger);
}

.form-grid input,
.form-grid textarea {
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid var(--bd-primary);
    color: var(--contrast);
    padding: 10px;
    outline: none;
    transition: 0.5s ease-in-out;
    font-family: var(--font-family);
}

.form-grid input:focus,
.form-grid textarea:focus {
    border-color: var(--primary);
}

.form-grid textarea {
    height: 100px;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.success {
    background: #d4edda;
    color: var(--success);
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.error-message {
    color: var(--danger);
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.error-message.display {
    display: block;
}

.input-error {
    border-color: var(--danger) !important;
}

.input-valid {
    border-color: var(--success) !important;
}

.char-count {
    font-size: 12px;
    color: var(--text-color);
    text-align: right;
    margin-top: 5px;
}

.char-count.over-limit {
    color: var(--danger);
}

.contact-img {
    width: 100%;
    height: 380px;
    margin-bottom: 30px;

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.contact-methods {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .contact-method {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        border: 1px solid transparent;
        padding: 20px;
        border-radius: 5px;
        transition: 0.2s ease-in-out;

        .contact-icon {
            width: 40px;
            height: 40px;
            background: var(--hover-btn-bg);
            border: 1px solid var(--bd-primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s ease-in-out;

            svg {
                width: 20px;
                height: 20px;
                fill: var(--contrast);
            }
        }

        h3 {
            font-size: 14px;
            color: var(--contrast);
            text-transform: capitalize;
        }

        a {
            transition: 0.5s;
            color: var(--text-color);
        }

        &:hover {
            border-color: var(--bd-primary);
            background-color: var(--hover-btn-bg);
        }

        &:hover .contact-icon {
            transform: scale(1.15) rotate(-20deg);
        }

        &:hover a {
            color: var(--contrast);
        }

        &:hover .border-line::after {
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .contact-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .contact-col {
        width: auto;
    }

    .contact-form {
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .contact-methods {
        grid-template-columns: 1fr;
    }
}