.contact-info .section-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: none;

    .section-header-col {
        max-width: 800px;
    }
}

.contact-grid {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    svg {
        fill: white;
    }
}

.contact-form {
    width: 100%;
    background: var(--hover-btn-bg);
    border: 1px solid var(--bd-primary);
    padding: 30px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-color);
}

.form-header {
    margin-bottom: 30px;

    h2 {
        font-size: clamp(2.6rem, 7vw, 2.2rem);
        margin-bottom: 10px;
        color: var(--contrast);
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30PX;
}

.form-grid label {
    display: block;
    margin-bottom: 10px;
}

.form-grid label::after {
    content: "*";
    margin-left: 2px;
    color: var(--danger);
}

.form-grid input, .form-grid textarea {
    display: block;
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid var(--bd-primary);
    color: var(--contrast);
    padding: 10px;
    outline: none;
    transition: 0.5s ease-in-out;
}

.form-grid input:focus, .form-grid textarea:focus {
    border-color: var(--primary);
}
 
.form-grid textarea {
    height: 100px;
}

.contact-img {
    width: 100%;
    height: 380px;
    margin-bottom: 30px;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}

.contact-methods {
    display: grid;
    /* gap: 20px; */
    grid-template-columns: 1fr 1fr;

    .contact-method {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        padding: 20px;
        border-radius: 5px;
        transition: 0.2s ease-in-out;
        .contact-icon {
            width: 40px;
            height: 40px;
            background: var(--hover-btn-bg);
            border: 1px solid var(--bd-primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s ease-in-out;

            svg {
                width: 20px;
                height: 20px;
                fill: var(--contrast);
            }
        }

        h3 {
            font-size: 14px;
            color: var(--contrast);
            text-transform: capitalize;
        }

        a {
            transition: 0.5s;
            color: var(--text-color);
        }

        &:hover {
            border: 1px solid var(--bd-primary);
            background-color: var(--hover-btn-bg);
        }

        &:hover .contact-icon {
            transform: scale(1.15) rotate(-20deg);
        }

        &:hover a {
            color: var(--contrast);
        }

        &:hover .border-line::after {
            width: 100%;   
        }
    }
}